<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" 
           scriptProcessor="C:\Python39\python.exe|C:\Python39\Scripts\wfastcgi.py" 
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="flask" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <!-- Exclude the static folder from being passed to the Python app -->
            <add input="{REQUEST_URI}" pattern="^/(static/|favicon\.ico)" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="Proxy all other requests to Flask" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="app.py/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>